body {
    background-color:#666;
    color: red;
    font-family:Arial, 'Lucida Sans Unicode';
    font-size:87.5%;
    text-align:left;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
.box1
{
background:white;
-moz-background-clip:padding;
-webkit-background-clip:padding;
background-clip:padding-box;
color:black;
}

.menu
{
background:#47B5FF;
color:black;
padding:0 50px 0 50px;
}

.menu li{
    margin: 0 5px 10px 0;
    display: inline-block;
}
#box4
{
background:white;
-moz-background-clip:padding;
-webkit-background-clip:padding;
background-clip:padding-box;
color:black;
}
a:link, a:visited {
    color:#00006E;
}

a:hover, a:active {
    background-color:#cf5c3f;
    color:#fff;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width:30%;
    height: auto;
    margin: 2% 0;
}
